<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>
    <script src="/public/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/marked.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body style="font-feature-settings: 'trad'; font-size: 100%;">
    <div style="padding: 16px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="no-border no-margin no-padding" style="font-weight: 600;" >
                        postenuous
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav h5">

                        <li class="nav-item">
                            <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-4 no-margin no-padding no-border" href="/archive">archives</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-8 no-margin no-padding no-border" data-toggle="collapse"
                                data-target="#addpostform" aria-controls="addpostform" href="#">
                                toggler
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div>
                <h5 class="letter-space-neg05 no-margin">author archive: <a href="/author/<%=author%>" class="font-weight-500"><%=author%></a></h5>
                <div class="post-data letter-space-neg05"><%=posts.length%> posts in total</div>
            </div>
            <br>
            <div id="posts">
                <div class="accordion" id="postAccordion">
                    <% for(let i = 0; i < posts.length; i++) { %>
                    <div class="card post-caption justify-content-center">
                        <div class="card-header bg-white" id="heading_<%=i%>" style="padding: 0; border: hidden" data-toggle="collapse" data-target="#post_<%=i%>" aria-expanded="true"
                            aria-controls="collapse_<%=i%>">
                                <a href="/post/<%=posts[i].id%>" class="post-title kuro">
                                    <%= posts[i].title %>
                                </a>
                                <span id="arrow_<%=i%>" class="symbol-monospace">↓</span>
                                <code style="color: gray; float: right;">
                                    <%= posts[i].created.toLocaleString() %>
                                </code>
                        </div>
                        <div id="post_<%=i%>" class="collapse" aria-labelledby="heading_<%=i%>" data-parent="">
                            <div class="card-body" style="padding: 0;">
                                <div class="post-text">
                                    <span id="abstract_<%=i%>"><%= posts[i].abstract %></span>
                                    <span>
                                        <a href="/post/<%=posts[i].id%>" class="symbol-monospace">
                                            →
                                        </a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <% } %>
                </div>

                <hr>
                <code class="gunjou">available by CC BY-NC-SA 4.0</code>
                <br>
            </div>
            <script>
                $("div[id^='heading']").click(function() {
                    let arrowsign = $(this).children()[1].innerText;
                    $(this).children()[1].innerText = (arrowsign == "↑") ? "↓" : "↑";
                })
            </script>
        </div>
    </div>

</body>