<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="/public/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/marked.min.js"></script>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/tomorrow-night.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body style="font-feature-settings:''; font-size: 100%;">
    <div style="padding: 16px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 class="no-border no-margin no-padding" style="font-weight: 600;" >
                                postenuous
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="nav h5">
                                <li class="nav-item">
                                    <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link gunjou-4 no-margin no-padding no-border"
                                        href="/archive">archives</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-auto" style="text-align: right;">
                    <div class="btn-group" id="login-area">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="margin-top: 8px">
                            login
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <form class="px-2" style="text-align: right;" method="POST">
                                <div class="form-group"><input name="username" type="text"
                                        class="form-control form-control-sm" id="usernamefield" placeholder="username">
                                </div>
                                <div class="form-group">
                                    <input name="password" type="password" class="form-control form-control-sm"
                                        id="passwordfield" placeholder="password">
                                </div>
                                <div class="dropdown-divider"></div>
                                <input class="btn btn-info btn-sm" type="submit" formaction="login" value="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div>
                <h5 class="letter-space-neg05 no-margin">author archive: <a href="/user/<%=author.username%>"
                        class="font-weight-500"><%=author.name%></a></h5>
                <div class="post-data letter-space-neg05"><%=posts.length%> posts in total</div>
            </div>
            <br>
            <div id="posts">
                <table class="table table-sm table-responsive table-hover" style="display: table; width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">title</th>
                            <th scope="col">created at</th>
                            <!--th scope="col">last modified</th-->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i = 0; i < posts.length; i++) { %>
                        <tr>
                            <td>
                                <a href="/post/<%=posts[i].id%>" class="post-title kuro">
                                    <%= posts[i].title %>
                                </a>
                            </td>
                            <td>
                                <code style="color: gray;">
                                    <%= posts[i].created.toDateString() %>
                                </code>
                            </td>
                            <!--
                            <td>
                                <code style="color: gray;">
                                    <%= posts[i].modified.toDateString() %>
                                </code>
                            </td>
                        -->
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <hr>
            <div id="licenses">
                <span>
                    <code
                        class="gunjou">available by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"><ins></ins>CC BY-NC-SA 4.0</ins></a></code>
                </span>
            </div>
            <br>
        </div>

    </div>
</body>

<script>
    $('#login-area').hide()
</script>