<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BootstrapのCSS読み込み -->
    <link href="bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container" style="padding: 16px">
        <h1>postenuous</h1>
        <h5>compilers, principles, & tools</h5>
        <ul class="nav font-weight-bold h5">
            <li class="nav-item">
                <a class="nav-link holo-blue-dark" href="#">posts</a>
            </li>

            <li class="nav-item">
                <a class="nav-link holo-blue-light" href="#">archives</a>
            </li>

            <li class="nav-item">
                <a class="nav-link holo-blue-light" href="#">about</a>
            </li>

            <li class="nav-item">
                <a class="nav-link holo-green-light" data-toggle="collapse" data-target="#addpostform"
                    aria-controls="addpostform" href="#">
                    toggler
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <div>
            <div class="collapse" id="addpostform" style="padding: 8px;">
                <form action="addPost" method="POST" style="padding: 16px; padding-top: 0;">
                    <div class="form-group">
                        <input name="title" type="text" class="form-control" id="titlefield" placeholder="title...">
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">✒️</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="author">
                        </div>
    
                    </div>
                 
                    <div class="form-group">
                        <textarea name="body" class="form-control" id="posteditfield" placeholder="something..."
                            rows="0"></textarea>
                    </div>
                    <input class="btn btn-primary mb-2" type="submit" value="Add Post" />
                </form>
            </div>
        </div>



        <div id="posts">
            <div class="accordion" id="accordionExample">
                <% for(let i = 0; i < posts.length; i++) { %>
                <div class="card">
                    <div class="card-header bg-white" id="heading_<%=i%>" style="padding: 0;">
                        <button class="btn btn-link post-title" type="button" data-toggle="collapse"
                            data-target="#post_<%=i%>" aria-expanded="true" aria-controls="collapse_<%=i%>">
                            <%= posts[i].title %>
                        </button>
                    </div>

                    <div id="post_<%=i%>" class="collapse" aria-labelledby="heading_<%=i%>"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <div>
                                <a href="#" class="nav-link" style="margin-bottom: 0; font-weight: 600;">
                                    <%= posts[i].author %>
                                </a>
                                <span style="font-weight: 400; color: gray">
                                    <%= posts[i].created %>
                                </span>
                            </div>
                            <br>
                            <p>
                                <%= posts[i].abstract %>
                                <a href="#">...</a>
                            </p>
                        </div>
                    </div>
                </div>

                <% } %>
            </div>

        </div>
    </div>

    </div>

</body>