<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/marked.min.js"></script>
    <link href="/public/style.css" rel="stylesheet">
</head>

<body style="font-feature-settings: 'trad';">
    <div style="padding: 16px">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="no-border no-margin no-padding" style="font-weight: 600;">postenuous</h5>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <ul class="nav h5">

                        <li class="nav-item">
                            <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-4 no-margin no-padding no-border" href="/archives">archives</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-8 no-margin no-padding no-border" data-toggle="collapse"
                                data-target="#addpostform" aria-controls="addpostform" href="#">
                                toggler
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div id="headers" style="margin-bottom: 1rem;">
                <h5 class="font-weight-600 no-margin">
                    <%= post.title%>
                    <a class="font-weight-400" data-toggle="collapse" href="#page_console" aria-expanded="false"
                        aria-controls="collapseExample">
                        [edit]
                    </a>
                </h5>
                <div class="collapse" style="margin-top: 0.5rem; margin-bottom: 0.5rem;" id="page_console">
                    <div class="card card-body">
                        <form method="POST">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">🔑</div>
                                    </div>
                                    <input name="passwd" type="password" class="form-control" id="passwdfield"
                                        placeholder="">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">📰</div>
                                    </div>
                                    <input name="title" type="text" class="form-control" id="titlefield"
                                        value="<%=post.title%>" placeholder="title...">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">✒️</div>
                                    </div>
                                    <input name="author" type="text" class="form-control" id="authorfield"
                                        value="<%=post.author%>" placeholder="author">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">ℹ️</div>
                                    </div>
                                    <input name="brief" type="text" class="form-control" id="brieffield"
                                        value="<%=post.abstract%>" placeholder="brief...">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea name="body" class="form-control" id="posteditfield" placeholder="something..."
                                    rows="0"></textarea>
                            </div>
                            <input class="btn btn-primary mb-2" type="submit" value="Modify this Post"
                                formaction="<%= post.id%>/modifyPost" />
                            <input class="btn btn-danger mb-2" type="submit" value="Delete this Post"
                                formaction="<%= post.id%>/deletePost" />
                        </form>
                    </div>
                </div>

                <div>
                    <div class="post-data font-weight-400">
                        posted on
                        <span class="holo-green-dark">
                            <%= post.created.toDateString() %>
                        </span>
                        by
                        <a href="/author/<%=post.author%>" class="font-weight-500">
                            <%= post.author %>
                        </a>
                    </div>
    
                </div>
            </div>
            <div id="content" class="post-text"><%= post.body %></div>
            <div id="postdata" class="post-data letter-space-neg05 font-weight-400">viewed <%=post.viewCount%> times |
                <a href="#">comments<span id="commentarrow" class="symbol-monospace">↓</span></a></div>
            <div id="navigation" class="letter-space-neg05 font-weight-500">
                <% if (newerPost.length != 0) {%>
                newer post: <a href="/post/<%=newerPost[0].id%>"><%=newerPost[0].title%></a>
                <% if (olderPost.length != 0) {%>
                <br>
                <% } %>
                <% } %>
                <% if (olderPost.length != 0) {%>
                older post: <a href="/post/<%=olderPost[0].id%>"><%=olderPost[0].title%></a>
                <% } %>
            </div>
            <script>
                marked_passage = marked($('#content').text())
                $('#posteditfield').text($('#content').text());
                $('#content').html(marked_passage);
            </script>
        </div>
    </div>

</body>