<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/marked.min.js"></script>
    <link href="/public/style.css" rel="stylesheet">
</head>

<body style="font-feature-settings: 'trad';">
    <div style="padding: 16px">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="no-border no-margin no-padding" style="font-weight: 600;">postenuous</h5>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <ul class="nav h5">

                        <li class="nav-item">
                            <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-4 no-margin no-padding no-border" href="/archives">archives</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link gunjou-8 no-margin no-padding no-border" data-toggle="collapse"
                                data-target="#addpostform" aria-controls="addpostform" href="#">
                                toggler
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div id="content">
<%= post.body %>
            </div>
            <br>
            
            <div id="navigation" class="letter-space-neg05">
                <% if (newerPost.length != 0) {%>
                newer post: <a href="/post/<%=newerPost[0].id%>"><%=newerPost[0].title%></a>
                <% if (olderPost.length != 0) {%>
                <br>
                <% } %>
                <% } %>
                <% if (olderPost.length != 0) {%>
                older post: <a href="/post/<%=olderPost[0].id%>"><%=olderPost[0].title%></a>
                <% } %>
            </div>
            <script>
                marked_passage = marked($('#content').text())
                $('#content').html(marked_passage);
            </script>
        </div>
    </div>

</body>