<%- include('common/metadata.ejs', {lang: 'en-US', title: title}) %>

<body style="font-feature-settings:'';">
    <div style="padding: 16px">
        <%- include('common/header.ejs', {loginAs: loginAs, noUserDropdown: false}) %>

        <div class="container">
            <h5 class="letter-space-neg05 font-weight-500">create new post</h5>
            <br>
            <div class="">
                <div class="form-group">
                    <select class="custom-select">
                        <option selected>choose from your drafts</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
               
                <form method="POST">
                    
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">📰</div>
                            </div>
                            <input name="title" type="text" class="form-control" id="titlefield" placeholder="title...">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ℹ️</div>
                            </div>
                            <input name="brief" type="text" class="form-control" id="brieffield" placeholder="brief...">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="body" class="form-control" id="posteditfield" placeholder="something..."
                            rows="0" oninput="autoGrow(this)" onclick="initAutoGrow(this)"></textarea>
                    </div>
                    <div style="text-align: right;">

                        <input id="preview-btn" type="button" value="Preview" class="btn btn-light mb-2" />
                        <input class="btn btn-secondary mb-2" type="submit" value="Save to Drafts"
                            formaction="/savetodraft" />
                        <input class="btn btn-primary mb-2" type="submit" value="Add to Posts"
                            formaction="<%=formaction%>" />
                    </div>
                </form>
                <script>
                    $(function () {
                        var originalContent = $('#content').html();
                        var isPreviewed = false;
                        $("#preview-btn").click(function () {
                            $('#content').html('<hr>' + marked($('#posteditfield').val()));
                            if (!isPreviewed) {
                                let previewButtonClone = $('#preview-btn').clone();
                                previewButtonClone.val("Remove Preview");
                                previewButtonClone.click(function () {
                                    $('#content').html(originalContent)
                                    $('#preview-btn').text('Preview');
                                    $(this).remove();
                                    isPreviewed = false;
                                })
                                $('#content-display').append(previewButtonClone);
                            }
                            isPreviewed = true;
                        });
                    });
                </script>
            </div>
        </div>
        <div class="container">
            <div id="content-display">
                <div id="content" class="post-text"></div>
            </div>
            <hr>
        </div>
        <%- include('common/footer.ejs') %>
    </div>
</body>