<%- include('common/metadata.ejs', {lang: 'en-US', title: title}) %>

<body style="font-feature-settings:''; font-size: 100%;">
    <div style="padding: 16px">
        <%- include('common/header.ejs', {loginAs: loginAs, noUserDropdown: false}) %>

        <%- include('common/post-list.ejs', {posts: posts, pageno: pageno, pageCount: pageCount, postPerPage: postPerPage}) %>

        <%- include('common/footer.ejs') %>
    </div>

</body>