<%- include('common/metadata.ejs', {lang: 'en-US', title: title}) %>

<body style="font-feature-settings:''; font-size: 100%;">
  <div style="padding: 16px">
    <%- include('common/header.ejs', {loginAs: null, noUserDropdown: true}) %>
    <div class="container">
      <div class="row">
        <div class="col-auto">
          <p>
            <code>YOUR NETWORK LATENCY:</code>
            <br>
            client <span style="background-color: whitesmoke;"><code id="toserverresult"></code></span> server <span
              style="background-color: whitesmoke;"><code id="toclientresult"></code></span> client
            <br>
            loopback latency: <code id="loopbackresult"></code>
          </p>

        </div>
      </div>
      <div class="w-100">
        <button class="btn btn-primary w-100" onclick="latencyTest(this)">test</button>
      </div>
      <br>
      <a href="/post">← back to posts</a>
      <hr>
    </div>
    <%- include('common/footer.ejs') %>
  </div>
  <script>
    latencyTest(null)
  </script>

</body>