<!DOCTYPE html>

<head>
    <html lang="en-US">
    <meta charset="UTF-8">
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="/public/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="/marked.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/styles/tomorrow-night.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link href="/public/style.css" rel="stylesheet">
</head>

<body style="font-feature-settings:'';">
    <div style="padding: 16px">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 class="no-border no-margin no-padding" style="font-weight: 600;" >
                                postenuous
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <ul class="nav h5">
                                <li class="nav-item">
                                    <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link gunjou-4 no-margin no-padding no-border"
                                        href="/archive">archives</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-auto" style="text-align: right;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle btn-sm" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" style="margin-top: 8px">
                            <%=loginAs.name%>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user"><code class="gunjou">@<%= loginAs.username %></code></a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/newpost">New Post</a>
                            <a class="dropdown-item" href="/draft">Drafts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/author/<%=loginAs.username%>">Posts</a>
                            <a class="dropdown-item" href="/dashboard">Dashboard</a>
                            <a class="dropdown-item" href="/random">Random Content</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">Log out</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <h5 class="letter-space-neg05 font-weight-500">create new post</h5>
            <br>
            <div class="">
                <script>
                    function autoGrow(element) {
                        if (element) {
                            element.style.height = "5rem";
                            element.style.height = ((element.scrollHeight >= 480) ? 480 : element.scrollHeight) + "px";
                        }
                    }
                </script>
                <form method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">📰</div>
                            </div>
                            <input name="title" type="text" class="form-control" id="titlefield" placeholder="title...">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ℹ️</div>
                            </div>
                            <input name="brief" type="text" class="form-control" id="brieffield" placeholder="brief...">
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="body" class="form-control" id="posteditfield" placeholder="something..."
                            rows="0" onclick="autoGrow(this)" oninput="autoGrow(this)"></textarea>
                    </div>
                    <div style="text-align: right;">

                        <input id="preview-btn" type="button" value="Preview" class="btn btn-light mb-2" />
                        <input class="btn btn-secondary mb-2" type="submit" value="Save to Drafts"
                            formaction="/savetodraft" />
                        <input class="btn btn-primary mb-2" type="submit" value="Add to Posts" formaction="<%=formaction%>" />
                    </div>
                </form>
                <script>
                    $(function () {
                        var originalContent = $('#content').html();
                        var isPreviewed = false;
                        $("#preview-btn").click(function () {
                            $('#content').html('<hr>' + marked($('#posteditfield').val()));
                            if (!isPreviewed) {
                                let previewButtonClone = $('#preview-btn').clone();
                                previewButtonClone.val("Remove Preview");
                                previewButtonClone.click(function () {
                                    $('#content').html(originalContent)
                                    $('#preview-btn').text('Preview');
                                    $(this).remove();
                                    isPreviewed = false;
                                })
                                $('#content-display').append(previewButtonClone);
                            }
                            isPreviewed = true;
                        });
                    });
                </script>
            </div>
        </div>
        <div class="container">
            <div id="content-display">
                <div id="content" class="post-text"></div>
            </div>
        </div>

        <div class="container">
            <hr>
            <div id="licenses">
                <span>
                    <code
                        class="gunjou">available by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"><ins>CC BY-NC-SA 4.0</ins></a></code></code>
                </span>
            </div>
            <br>
        </div>
    </div>
</body>