<div class="container">
    <div class="row">
        <%- include('header-navi') %>
        <div class="col-auto" style="text-align: right;">
            <%- include('login-dropdown') %>
        </div>
    </div>
    <hr>
</div>