<div class="container">
    <div id="licenses">
        <span>
            <code
                class="gunjou">available by <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en"><ins>CC BY-NC-SA 4.0</ins></a></code></code>
        </span>
    </div>
    <br>
</div>