<div class="col">
    <div class="row">
        <div class="col">
            <h5 class="no-border no-margin no-padding letter-space-neg05" style="font-weight: 600;" >
                postenuous
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav h5">
                <li class="nav-item">
                    <a class="nav-link gunjou-2 no-margin no-padding no-border" href="/post">posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gunjou-4 no-margin no-padding no-border"
                        href="/archive">archives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link gunjou-6 no-margin no-padding no-border" href="/about">about</a>
                </li>
            </ul>
        </div>
    </div>
</div>