<div class="container">
    <div class="row">
        <%- include('header-navi') %>
        <div class="col-auto" style="text-align: right;">
            <%- include('user-dropdown', { loginAs: loginAs }) %>
        </div>
    </div>
    <hr>
</div>