<div class="container" style="margin-bottom: 0px;">
    <div class="row">
        <%- include('header-navi') %>
        <% if (noUserDropdown) { %>
        <% } else { %>
        <div class="col-auto" style="text-align: right;">
            <% if (loginAs) { %>
            <%- include('user-dropdown', { loginAs: loginAs }) %>
            <% } else { %>
            <%- include('login-dropdown') %>
            <% } %>
        </div>
        <% } %>
    </div>
    <div style="margin: 32px"></div>
</div>
