<div id="postdata">
    <div id="postdata-header" class="post-data letter-space-neg05 font-weight-400">
        <span>viewed <%=post.viewCount%> times |</span>
        <a data-toggle="collapse" href="#comments-area" aria-expanded="false"
            aria-controls="collapseExample">
            <span>comments</span>
            <span id="commentarrow" class="symbol-monospace">↓</span>
        </a>
    </div>
    <div id="comments-area" class="collapse">
        <div class="top-comment">
            comment#1
            <div class="child-comment">
                comment#2
                <div class="child-comment">
                    comment#3
                </div>
            </div>
            <div class="child-comment">
                comment#4
            </div>
        </div>
    </div>
</div>